@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');


.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17rem;
    overflow: hidden;
    border-radius: 15px;
    height: 31rem;
}

.tarjeta:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);

}

.tarjeta:hover img {
    transform: scale(1.2);
    transition: all .5s;
}

.imagen {
    width: 100%;
    height: 20rem;
}

article {
    overflow: hidden;
}

.texto {
    width: 100%;
    padding: 1.1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    border-radius: 15px;
}

.subTileOnline {
    font-size: 23px;
    align-items: center;
    white-space: 10px;
    letter-spacing: -1px;
}

.precios {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.precioActual {
    font-size: 25px;
    font-weight: bold;
}

.precioAntiguo {
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
    color: red;
    text-decoration: line-through;
}

button {
    text-decoration: none;
    margin: 0 auto;
}

.btnOnline {
    background-color: #173083;
    padding: 10px 5rem;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}