.ultimate {
    background-color: #173083;
    min-height: 25rem;
    min-width: 100%;
    color: white;
}

.metodos-pago {
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.social-image {
    display: flex;
    justify-content: center;
    cursor: pointer;
    gap: 1rem;
    padding: 1rem;
}

.locales {
    display: grid;
    grid-template-areas: 'us terms'
        'burger burger';
    gap: 2.4rem;
}

.part-1 {
    display: flex;
    flex-direction: column;
    grid-area: us;
}

.part-2 {
    display: flex;
    flex-direction: column;
    grid-area: terms;
}

.part-1 a {
    color: white;
}

.part-2 a {
    color: white;
}

.part-3 {
    display: flex;
    justify-content: center;
    grid-area: burger;
}

.visa {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.document button {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    background: #E3A804;
    border: none;
    border-radius: 0.3rem;
}

.mastercard {
    display: flex;
    gap: 1rem;
}