.principal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background: #173083;
    color: white;
}

.delivery {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.actions {
    display: flex;
    gap: 0.4rem;
}

.actions h5 {
    color: #ECBA0B;
}

.actions select {
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: none;
    color: white;
}

.info p {
    font-size: 1.2rem;
}

.person {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    margin-left: 1rem;
    color: #ECBA0B;
}

.person button {
    background: transparent;
    border: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.zonas ul {
    display: flex;
    gap: 2rem;
}

.zonas li {
    list-style: none;
}

.enlaces {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    align-items: center;
}

.zonas a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    color: #173083;
}

.companium button {
    display: flex;
    padding: 1rem;
    background: #ECBA0B;
    border: none;
    border-radius: 1rem;
    color: #173083;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    align-items: center;
    gap: 1rem;
}

.companium span {
    color: red;
}