@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*HEADER BLACK*/
.containerHeaderBack {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
}

.textHeaderBlack {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 5px;
}

.lineaHeaderBlack {
    height: 40px;
    margin-top: 15px;
}

.textOneHeaderBlack {
    margin-top: 9px;
}

/**/

.principal {
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    /* padding: 1rem; */
    background: #173083;
    /* color: white; */
    position: relative;
    position: sticky;
    top: 0;
    z-index: 30;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-family: 'Oswald', sans-serif;
}

.containerHead {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

.delivery {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
}

.actions {
    display: flex;
    gap: 0.4rem;
}

.actions h5 {
    color: #ECBA0B;
}

.actions select {
    font-size: 0.8rem;
    /* font-family: 'Montserrat', sans-serif; */
    background-color: transparent;
    border: none;
    color: white;
}

.info p {
    font-size: 1.2rem;
}

.person {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    margin-left: 1rem;
    color: #ECBA0B;
}

.person button {
    background: transparent;
    border: none;
    color: white;
    /* font-family: 'Montserrat', sans-serif; */
}

.zonas ul {
    display: flex;
    gap: 5rem;
}

.zonas li {
    list-style: none;
}

.enlaces {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    align-items: center;
    background-color: white;
}

.zonas a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.4rem;
    color: #173083;
}

.companium button {
    display: flex;
    padding: 1rem;
    background: #ECBA0B;
    border: none;
    border-radius: 1rem;
    color: #173083;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 600;
    align-items: center;
    gap: 1rem;
}

.companium span {
    color: red;
}

/*Cart*/

.info-cart-product {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: 500px;
}

.container-cart-product {
    position: absolute;
    background-color: #ffffff;
    width: 500px;
    height: 300px;
    z-index: 3;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 4px;
    padding: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.30);
    border-radius: 10px;
}

.cart-total {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.hiden-cart {
    display: none;
}

/*ENLACES HOVER*/

a {
    display: flex;
}

a:hover+.lineaHover {
    display: block;
}

.containerHoverProm {
    position: absolute;
    z-index: 2;
    padding: 1rem;
    border-radius: 0 0 20px 20px;
    background-color: white;
    color: #173083;
    font-weight: 700;
    line-height: 3rem;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    display: none;
    margin-top: 1.9rem;
    border-top: none;
}

.promHover:hover+.containerHoverProm {
    display: block;
}

.lineaHover {
    background-color: red;
    padding: 1.9px;
    border: none;
    margin-top: 5px;
    display: none;
    z-index: 3;
    width: 100%;
    position: absolute;
}

.containerLinea {
    position: relative;
}

img {
    margin-right: 10px;
}