.personales {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
}

.container {
    padding: 10px 15rem;
}

.container h2 {
    margin-top: 1rem;
}

.panel {
    display: flex;
    justify-content: center;
    gap: 15rem;
    background: white;
    height: 35rem;
    padding-top: 2.5rem;
    padding-right: 10rem;
}

.promo-informacion img {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border-radius: 1rem;
}

.promo-opciones {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #24388B;
}

.opciones-number {
    display: grid;
    grid-template-columns: 15% 150%;
    grid-template-areas:
        "numerico titulo apertura"
        "lineador lineador lineador";
}

.opciones-number hr {
    border: 1px solid black;
    border-radius: 1rem;
    grid-area: lineador;
}

.opciones-number button {
    grid-area: apertura;
}

.opciones-number h3 {
    grid-area: titulo;
}

.opciones-number span {
    background: #FFB503;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    grid-area: numerico;
}

.opciones-number button {
    border: none;
    background: none;
    outline: none;
}

.comandos {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    background: #F6F7F8;
    width: 100%;
    box-shadow: 0 0 7px 0 gray;
    margin-top: 2rem;
}

.comandos button{
    padding: 1rem 3rem;
    background-color: #24388B;
    border: none;
    border-radius: 1rem;
    color: white;
}