
.containerFatherChildren{
    background-color: white;
}

.textHeaderChildren{
    width: 60%;
    margin: 0 auto;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contentHomeChildren{
    /* background-color: lightblue; */
    width: 60%;
    margin: 0 auto;
}

.conteinerFlexChildren{
    display: flex;
    justify-content: space-between;
}

.contenetImgChildren{
    height: 500px;
    width: 500px;
    overflow: hidden;
    /* background-color: red; */
}

.ImgChildren{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.titleChildren{
    font-size: 2.5rem;
    color: #23388b;
    margin-bottom: 2rem;
}

.textDetailChildren{
    font-size: 1.1rem;
    color: #999898bd;
    font-weight: 700;
}

.containerPrecioChildren{
    background-color: #f6f7f8;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    height: 100px;
    align-items: center;
}

.containerIncrementoChindler{
    display: flex;
    margin-right: 3rem;
    /* justify-content: center; */
}

.btnCantidad{
    padding: 1rem;
    height: 3rem;
    font-size: 2rem;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.namberChindler{
    font-size: 1.5rem;
    padding: 1rem;
    color: black;
}

.btnAgregarPrecio{
    padding: 1rem;
    font-size: 1rem;
    margin-left: 3rem;
    background-color: #173083;
    border-radius: 30px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}


