.centrado {
    padding: 25px 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

.options {
    margin-top: 1.5rem;
}

.location {
    height: 5rem;
    width: 100%;
    background-color: white;
    display: flex;
    border-radius: 0.5rem;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    align-items: center;
}

.ubicacion {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.ubicacion h4 {
    font-weight: 600;
}

.options button {
    padding: 1rem;
    background: #21388B;
    border: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
    border-radius: 1.5rem;
    outline: 0;
}

.centrado h2 {
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.7rem;
}

.cyber {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.globo {
    display: flex;
    align-items: center;
}

.presentacion {
    margin-top: 2rem;
    border-radius: 1.5rem;
    width: 60rem;
}

.presentacion img {
    border-radius: 1.5rem;
    height: 20rem;
}

.refrescos {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 1rem;
}