.containerBenefics {
    font-family: 'Oswald', sans-serif;
    background-color: #f6f7f8;
}

.containerElement {
    border-radius: 15px;
    overflow: hidden;
    margin-top: 2rem;
    background-color: white;
    width: 70%;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h1 {
    color: #ffb500;
    background-color: #21388b;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerImgHearts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}

.buttonHearts {
    height: 7rem;
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: white;
    color: #21388b;
}


/*......................*/
.imagen {
    width: 30px;
    height: 30px;
}

.containerPoints {
    display: flex;
    background-color: #ffb500;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 3.5rem;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 15px;
    margin-bottom: 4rem;
}

.containerFriendzon {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
}

.spanOne {
    font-size: 14px;
    letter-spacing: 3px;
    margin-left: 10px;
    color: #21388b;
    font-weight: 400;
}

.textProm {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #21388b;
}

/*.......................*/

.containerCardsPadreBenefics {
    width: 80%;
    margin: 0 auto;
}

.containerCarts {
    display: flex;
    width: 100%px;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid black;
}

.containerText {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.precioBenefics {
    font-size: 25px;
    font-weight: 400;
}

.BtnAcumulaPts {
    padding: 5px 20px;
    border-radius: 15px;
    background-color: #ffb500;
    color: black;
    font-weight: 900;
    font-size: 12px;
    border: none;
}

.BtnComprasBenefics {
    margin-bottom: 10px;
    padding: 15px 20px;
    border-radius: 20px;
    background-color: #21388b;
    border: none;
    color: white;
    font-size: 10px;
    font-weight: 900;
}


/*...............................*/

.containerPreguntasFrecuentes {
    margin-top: 5rem;
    color: #21388b;
    font-size: 20px;
}

.containerPreguntas {
    padding: 1rem;
    margin-bottom: 4rem;
}

.titlePreguntas {
    text-align: center;
}

.preguntasBenefics {
    padding: 12px;
    border: 1px solid black;
    margin-top: 10px;
    color: #21388b;
    font-weight: 800;
    font-size: 18px;
}